<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
        
    <target name="FullLog" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target xsi:type="File" fileName="${basedir}/logs/FullLog_${shortdate}.csv" archiveFileName="${basedir}/archives/log.{#####}.txt" archiveAboveSize="100000" archiveNumbering="Sequence">
        <layout xsi:type="CSVLayout">
          <column name="time" layout="${longdate}" />
          <column name="message" layout="${message}" />
          <column name="logger" layout="${logger}"/>
          <column name="level" layout="${level}"/>
          <column name="exception" layout="${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>
        </layout>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="FullLog" />
  </rules>
</nlog>