<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="ExchangeUsername" value="meetingservice@maxus.ru" />
    <add key="ExchangePassword" value="$RFV5tgb" />
    <add key="UrlExchangeService" value="https://mail.maxus.ru/ews/exchange.asmx" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" />
    <httpRuntime />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SimpleExchangeService">
        <endpoint address="https://as-msk-at023.maxus.lan/simpleexchangeservice/SimpleExchangeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpsBindingConf" bindingNamespace="http://maxus.ru/SimpleExchangeService" contract="SimpleExchangeService.ISimpleExchangeServiceV1" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="basicHttpsBindingConf" />
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpsBindingConf" allowCookies="false">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
        <security>
            <authentication>
                <anonymousAuthentication enabled="false" />
            </authentication>
        </security>
  </system.webServer>
</configuration>