<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ExchangeUsername" value="meetingservice@maxus.ru"/>
    <add key="ExchangePassword" value="$RFV5tgb"/>
    <add key="UrlExchangeService" value="https://mail.maxus.ru/ews/exchange.asmx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SimpleExchangeService">
        <endpoint address="http://as-msk-n8013:82/SimpleExchangeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConf" bindingNamespace="http://maxus.ru/SimpleExchangeService" contract="SimpleExchangeService.ISimpleExchangeServiceV1"/>
        <!--endpoint address="http://ws-msk-a1097.maxus.lan:81/simpleexchangeservice/SimpleExchangeService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConf" bindingNamespace="http://maxus.ru/SimpleExchangeService" contract="SimpleExchangeService.ISimpleExchangeServiceV1"/-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" bindingConfiguration="basicHttpBindingConf"/>
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConf" allowCookies="false">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>