<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    
    <target name="FullLog" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/logs/FullLog_${shortdate}.txt" archiveFileName="${basedir}/archives/log.{#####}.txt" archiveAboveSize="100000" archiveNumbering="Sequence"/>
    </target>
    
    <target name="InfoLog" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target xsi:type="File" fileName="${basedir}/logs/LogError_${shortdate}.csv" archiveFileName="${basedir}/archives/log.{#####}.txt" archiveAboveSize="100000" archiveNumbering="Sequence">
        <layout xsi:type="CSVLayout">
          <column name="time" layout="${longdate}" />
          <column name="message" layout="${message}" />
          <column name="logger" layout="${logger}"/>
          <column name="level" layout="${level}"/>
        </layout>
      </target>
    </target>

    <target name="JRN" type="Database">
        <connectionString>
          Data Source=as-msk-n0087\JRN;Initial Catalog=JRN;User Id=USER_WEB;Password=USER_WEB;
        </connectionString>
        <commandText>
          declare @sqlString nvarchar(500)
          declare @Params nvarchar(500)
          set @sqlString=N'insert into [JRN].[dbo].[SЛогСобытийВебСервисовID] (Период, ВебСервис, мс, ИД, Операция, Длительность, Пользователь, Ошибка, Результат) values (@eventtime, 0xB1AF00155D48152111E33727D036D777, 654, NEWID(), 0x86CA000E7F30D41F11E08154B704A662, 0, ''nlog test'', 0x1, @textresult)'
          set @Params=N'@eventtime datetime, @textresult varchar(500)'
          execute sp_executesql @sqlString, @Params, @eventtime='${date:format=yyyy-MM-dd HH\:mm\:ss}', @textresult='${level}_${message}'
        </commandText>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="FullLog" />
    <logger name="*" minlevel="Info" writeTo="InfoLog" />
    <logger name="*" minlevel="Error" writeTo="JRN" />
  </rules>
</nlog>